<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error 404</title>
    <link th:href="@{/css/output.css} "rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body class="h-full">
    <div class="w-full min-h-full bg-[#111827] flex flex-col justify-center items-center space-y-4">
        <p class="text-3xl text-gray-400 font-medium ">Page Not Found :( </p>
        <p class="text-7xl text-gray-400 font-medium ">404 </p>
    </div>
</body>
</html>